:root {
    font-size: 10px;
    --color1: #FE7EC9;
    --bg1: #38C4C1;
    --bg2: #FECA02;
    --bg3: #FE7EC9;
    --bg4: #488DF4;
    --bg5: #38C4C13D;
    --bg6: #FE7EC93D;
    --hauteur-image: 583px;
}

body {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    color: #42434B;
}

header {
    input {
        display: none;
    }

    #onglet-cacher {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 0.5fr;

        div:first-child {
            p:first-child {
                align-self: self-end;
                padding-right: 20px;
            }

            a {
                text-decoration: none;
                align-self: center;
                color: white;
            }

            color: white;
            gap: 20px;
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            grid-column: 1/2;
            background-color: #333333;
        }

        div:last-child {
            grid-column: 2/3;
            background-color: #333333;
            opacity: 80%;
        }

    }

    #Menu:checked~#onglet-cacher {
        left: 0;
    }

    label {
        cursor: pointer;
    }

    display: flex;
    justify-content: space-between;
    margin-inline: 50px;
    align-items: center;

    h2 {
        color: var(--color1);
        font-size: 2.4rem;
        font-weight: 700;
    }
}

main {
    #acceuil {
        margin-inline: 50px;
        text-align: center;

        h1 {
            font-size: 3.6rem;
            font-weight: 700;
            color: #488DF4;
            padding-inline: 30px;
        }

        p {
            font-size: 3rem;
            font-weight: 700;
        }

        img {
            width: 100%;
            object-fit: cover;
            vertical-align: middle;
        }
    }

    #selection {
        margin-inline: 50px;

        article {
            text-align: center;
            padding-block: 47px;
            font-size: 3.6rem;
            font-weight: 700;

            &:first-child {
                background-color: var(--bg1);
            }

            &:nth-last-child(3) {
                background-color: var(--bg2);
                color: white;
            }

            &:nth-last-child(2) {
                background-color: var(--bg3);
            }

            &:nth-last-child(1) {
                background-color: var(--bg4);
            }
        }

    }

    #apropos {
        text-align: center;
        padding-inline: 50px;

        h2 {
            font-size: 2.4rem;
            font-weight: 300;
        }

        p {
            font-size: 3.6rem;
            font-weight: 700;
        }

        img {
            width: 100%;
            object-fit: cover;
        }

        article {
            padding-block: 32px;

            img {
                width: 50px;
                height: 50px;
                vertical-align: middle;
            }

            margin-block: 20px;

            p {
                &:nth-child(2) {
                    font-size: 2.4rem;
                }

                &:nth-child(3) {
                    font-size: 1.4rem;
                }
            }

            &:first-of-type {
                background-color: var(--bg5);
            }

            &:last-of-type {
                background-color: var(--bg6);
            }

            a {
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: 600;
                color: #FE7EC9;
            }
        }

        img:last-of-type {
            margin-block: 20px;
        }
    }

}

footer {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 40px;

    a,
    p {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        min-width: none;
    }
}

@media(min-width:768px) {
    header {
        margin-inline: 0;
    }

    body {
        margin-inline: 50px;
    }

    main {
        #acceuil {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 0;
            align-items: center;
            margin: 0;
        }

        #selection {
            margin-inline: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        #apropos {
            padding-inline: 0;
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            article {
                margin: 0;
            }

            h2,
            p {
                grid-column: 1/-1;
            }

            img:first-of-type {
                grid-column: 1/-1;
            }

            img:nth-of-type(2) {
                height: 100%;
            }

            img:nth-of-type(3) {
                height: 100%;
            }

            img:last-of-type {
                margin: 0;
            }
        }
    }
}

@media(min-width:1024px) {
    main {
        #acceuil {
            margin-bottom: 26px;
        }

        #selection {
            grid-template-columns: repeat(4, 1fr);
            position: relative;
            left: -50px;
            width: calc(100% + 100px);

            article {
                img {
                    padding-top: 45px;
                }

                p {
                    margin: 0;
                    margin-block: 20px;
                }

            }

        }

        #apropos {
            p {
                margin-top: 0;
            }

            align-items: center;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 0.1fr 0.1fr repeat(2, 1fr);

            img:nth-child(3) {
                grid-row: 3/-1;
                grid-column: 1/3;
                height: var(--hauteur-image);
            }

            article {
                padding: 0;
                align-content: center;
                height: calc((var(--hauteur-image)/2) - 10px);
            }

            img:last-child,
            img:nth-last-child(2) {
                height: calc((var(--hauteur-image)/2) - 10px)
            }

        }
    }

}